.navbar{
    padding:10px 0px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    max-width: 1280px;
}
.navbar h3{
    font-size:40px;
    text-shadow:2px  2px 8px #ff0000;
}
.navbar-menu{
    display: flex;
    list-style: none;
    gap:20px;
    color:#49557e;
    font-size:20px;
    width:30%
}
.navbar button{
    background: transparent;
    font-size: 16px;
    color:#49557e;
    border:1px solid tomato;
    padding: 10px 30px;
    border-radius:50px;
    cursor:pointer;
    transition: 0.3s;
    margin-right: 30px;
}
.navbar button:hover{
    background-color: #fff4f2;
}
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e ;
}
.navbar li{
    cursor: pointer;
}
.navbar-right{
    display:flex;
    align-items: center;
    gap:40px;
}

.explore-menu{
    margin-bottom:10px;
    display: flex;;
    flex-direction: column;
    gap:20px;
}
.explore-menu h3{
    font-size: 40px;
    color:#262626;
    font-weight: 500;
    margin-bottom:0px;
}
.explore-menu p{
    max-width:60%;
    columns:#808080;
    font-size: 24px;
    margin-bottom:10px;
    margin-top:10px;

}
.explore-menu-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:30px;
    text-align: center;
    margin:20px;
    
}
.explore-menu-list-item img{
    width:9.5vw;
    min-width: 90px;
    cursor: pointer;
    border-radius: 50%;
    transition:0.2s;
    border:5px solid black;
}
.explore-menu-list-item .active{
    
    
    padding:2px;
    border:5px solid tomato;
}
.explore-menu-list-item p{
    margin-top:10px;
    color:#747474;
    font-size:max(1vw,19px);
    cursor: pointer;
    margin-left:12px;
    
}
.explore-menu hr{
    margin:10px 0;
    height:2px;
    background-color: #e2e2e2;
    border: none;

}
.food-display{
    margin-top:30px;
}
.food-display h2{
    font-size:max(2vw,24px);
    font-weight:600;
}
.food-display-list{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(240px,1fr));
    /* margin-top:30px; */
    gap:30px;
    row-gap:50px;
    margin:0 auto;
    max-width:1280px;
}
.food-item{
    width:100%;
    margin:25px;
    border-radius:15px;
    box-shadow:0px 0px 10px #00000015;
    transition:0.3s;
    animation:fadeIn 1s;
}
.food-item-image{
    width:100%;
    border-radius: 15px 15px 0px 0px; 
}
.food-item-info{
    padding:20px;
    
}
.food-item-rating{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.food-item-rating p{
    font-size:20px;
    font-weight: 500;
}
.food-item-desc{
    color:#676767;
    font-size:16px;
}
.food-item-price{
    color:tomato;
    font-size: 22px;
    font-weight: 500;
    margin:10px 0px;
    font-weight: bold;
}
.food-item-img-container{
    position:relative;
}
.food-item-img-container .add{
    width:35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor:pointer;
    border-radius:50%;
}
.food-item-counter{
    position: absolute;
    bottom: 15px;
    right:15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding:6px;
    border-radius:50px ;
    background-color: white;
}
.food-item-counter img{
    width:30px;
}
.food-item-button-price{
    display:flex;
    justify-content: space-between;
}
.food-item-button-price button{
    background: transparent;
    font-size: 15px;
    color:#49557e;
    border:1px solid tomato;
    padding: 10px 30px;
    border-radius:50px;
    cursor:pointer;
    transition: 0.3s;
    margin-right: 20px;
}
.food-item-button-price button:hover{
    background-color: #fff4f2;
}
.footer{
    color: #d9d9d9;
    background-color: #323232;
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top:80px;
}
.footer-content{
    width:100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap:80px;
}
 .footer-content-left,.footer-content-right,.footer-content-center{
    display:flex;
    flex-direction: column;
    align-items: start;
    gap:20px; 

} 
.footer-content-left li,.footer-content-right li,.footer-content-center li{
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;

}
.footer-content-right h2,.footer-content-right h2,.footer-content-center h2{
    color:white;

}
.footer-socia-icons{
    width:40px;
    margin-right:15px;
}
.footer hr{
    width:100%;
    height:2px;
    margin:20px 0;
    background-color: grey;
    border:none;
}
.login-popup{
    position:absolute;
    z-index:1;
    width:100%;
    height:100%;
    background-color: #00000090;
    display:grid;
}
.login-popup-container{
    place-self: center;
    width:max(23vw,330px);
    color:#808080;
    background-color: white;;
    display: flex;
    flex-direction: column;
    gap:25px;
    padding:25px 30px;
    border-radius: 8px;
    font-size: 10px;
    animation:fadeIn 0.5s;

}
.login-popup-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:black;
    font-size: 16px;
}
.login-popup-title img{
    width:16px;
    cursor:pointer;

}
.login-popup-inputs{
    display: flex;
    flex-direction: column;
    gap:20px;

}
.login-popup-inputs input{
    outline: none;
    border:1px solid #c9c9c9;
    padding:10px;
    border-radius: 4px;


}
.login-popup-container button{
    border: none;
    padding:10px;
    border-radius: 4px;
    color:white;
    background-color: tomato;
    font-size:15px ;
    cursor: pointer;
}
.login-popup-condition{
    display: flex;
    align-items: start;
    gap:8px;
    margin-top: -15px;
    font-size: 12px;
}
.login-popup-condition input{
    margin-top: 5px;
}

.login-popup p {
    font-size: 14px;
}
.login-popup p span{
    color: tomato;
    font-weight: 500;
    cursor: pointer;
    font-size: 14px;

}
.cart{
    margin-top:100px;
}
.cart-items-title{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: grey;
    font-size: max(1vw,16px);
}
.cart-items-item{
    margin: 10px 0;
    color: black;
}
.cart-items-item img{
    width:50px;
}
.cart hr{
    height:1px;
    background-color: #e2e2e2;
    border: none;

}
.cart-items-item .cross{
    cursor:pointer;
}
.cart-bottom{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap:max(12vw,20px);
}
.cart-total{
    flex:1;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.cart-total-details{
    display: flex;
    justify-content:space-between;
    color:#555;
    width:50%
}
.cart-total hr{
    margin: 10px 0;
}
.cart-total button{
    border: none;
    color:white;
    background-color: tomato;
    width:max(15vw,200px);
    padding: 12px 0;
    border-radius:4px ;
    cursor: pointer;
}
.cart-promocode{
    flex:1;

}
.cart-promocode p{
    color:#555;
}
.cart-promocode-input{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eaeaea;
    border-radius: 4px;
}
/* .card-container{
    display:flex;
    justify-content: space-evenly;
    border-color: rgb(255, 255, 255);
    padding: 1rem;



}
.card {
    height:24.8rem;
    width:100%;
    border:1px solid black;
    background-color: #E0E0E0;
    color:#1C1C1C;
    margin:30px;
    border-radius:30px;
    text-align: center;
    box-shadow:0 1px 2px rgba(0,0,0,0.15);
    transition: top 0.5s ease-in-out;
    overflow:hidden;
    border-radius:1.5rem;
    border:0.1rem solid rgb(232,232,232);
    border-color: rgb(255, 255, 255);

}
/* .card,p,h2{
    background-color:#F7E9D7;
} */
/* .card img{
    height:248px;
    width:102x;
    border-radius: 50%;
    object-fit: cover;
    
    
}
.btn{
    color:black;
    font-size: 20px;
    background-color: antiquewhite;
    border-radius:20px;
    padding:8px;
    cursor:pointer;
    

}
.card:hover{
    box-shadow:0 5px 15px rgba(0,0,0,0.8);
}
h1{
    text-align: center;
    font-size: 30px;
    color:#1C1C1C;
    margin-bottom:30px;
    padding-top:100px;
     
}
.price{
    display:flex;
    justify-content: space-around;
    background-color: #F7E9D7;
    font-size: 18px;

} */ 


@media(max-width:1050px){
    .navbar-menu{
        gap:20px;
        font-size: 17px;
    }
    .navbar button{
        padding:8px 25px;
    }
    .explore-menu-text{
        max-width:100%;
        font-size: 14px;

    }
}
@media(max-width:900px){
    .navbar-menu{
        gap:15px;
        font-size: 16px;
    }
    .navbar button{
        padding:7px 20px;
        font-size: 15px;
    }
}
@media(max-width:750px){
    .navbar-menu{
        display:none;
    }
    
}